/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";

$susy: (
  columns: 8,
  gutter-position: split,
  gutters: 1/8,
  global-box-sizing: border-box,
  use-custom: (rem: true
    )
  );

@include border-box-sizing;

/**
 * Layout for AG grids & Container
 */

.container {
  @include container(1000px);
  @include clearfix; 
}

.nameRow {
  padding-top: 8px;
  text-align: center;
  font-size: 2rem;
  font-family: 'Gill Sans';
  color: #53585F;
  @include clearfix; 
}

.firstName {
  @include span(4);
  background-color: #DCDEE0;
  @include border-radius(10px, 10px);
}

.lastName {
  @include span(4 last);
  background-color: #DCDEE0;
  @include border-radius(10px, 10px);
}

/**
 * Styles for AG grids & Container
 */

.container {
  background-color: #FFFDFB;
}

/**
 * Text Styles
 */
h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}