/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";

$susy: (
  columns: 8,
  gutter-position: split,
  gutters: 1/8,
  global-box-sizing: border-box,
  use-custom: (rem: true
    )
  );

@include border-box-sizing;

/**
 * Layout for AG grids & Container
 */

.container {
  @include container(1000px);
  
}

.topBar {
  margin: 0;
  padding: 0;
  border: 0;
  height: 2rem;
  line-height: 2rem;
  background-color: #426E93;
  color: #FFFDFB;
  font-size: 0.75rem;
  text-align: center;
  @include clearfix;
  position: fixed;
  width: 100%;
}

header {
  @include container(1000px);
  @include clearfix;
}

.labels {
  @include span(8 of 8);
  @include clearfix; 
}

.firstLabel {
  @include span(4 of 8);
}

.lastLabel {
  @include span(4 of 8 last);
}

.nameTable {
  padding-top: 2rem;
}

.nameRow {
  @include span(8);
  padding-top: 4px;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Gill Sans';
  color: #53585F;
  @include clearfix; 
}

@mixin name-styles {
  background-color: #DCDEE0;
  height: 3rem;
  line-height: 3rem;
  @include border-radius(10px, 10px);
}

.firstName {
  @include span(4);
  @include name-styles;
}

.lastName {
  @include span(4 last);
  @include name-styles;
}

/**
 * Styles for AG grids & Container
 */

.container {
  background-color: #FFFDFB;
}

/**
 * Text Styles
 */
h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}