<!DOCTYPE html>
<html>
<head>
	<title>Raandy - Random Name Generator</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.3/zepto.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
	<script type="text/javascript" src="javascript/app.js"></script>

	<script type="text/template" id="name-template">
		<div class="firstName">
			<%= first %>
		</div>
		<div class="lastName">
			<%= last %>
		</div>
	</script>
</head>
<body>
	<div id="raandy">
		<a href="#" class="nameBtn">Button</a>
		<div id="names"></div>
	</div>
</body>
</html>